################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/E-commerce-app/.vs/E-commerce-app/config/applicationhost.config
